/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-mar-2017, 13:35:10
    Author     : daw
*/
#fondo{
    -fx-background-color: rgb(234, 253, 249);
}

#igual{
    -fx-background-color: rgb(38, 234, 185);    
}

#dividir{
    -fx-background-color: rgb(76, 95, 101);
}

#multiplicar{
    -fx-background-color: rgb(86, 108, 118);
}

#mas{
    -fx-background-color: rgb(132, 154, 165);
}

#menos{
    -fx-background-color: rgb(108, 135, 148);
}

#limpiarHistorico:hover{
    -fx-background-color: rgb(132, 154, 165);
}

/* ---------------NUMEROS-------------------- */

#uno, #dos, #tres, #cuatro, #cinco, #seis, #siete, #ocho, #nueve, #cero, #limpiar, #coma, #limpiarDigito{
    -fx-background-color: rgb(175, 190, 197);
}

#uno:hover, #dos:hover, #tres:hover, #cuatro:hover, #cinco:hover, #seis:hover, #siete:hover, #ocho:hover, #nueve:hover, #cero:hover, #limpiar:hover, #limpiarDigito:hover, #coma:hover{
    -fx-background-color: rgb(132, 154, 165);
}

#igual:hover{
    -fx-background-color: rgb(105, 241, 207);
    -fx-color: rgb(0, 0, 0);
}
